<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{instructor.name}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-close-empty" ng-click="closeInstView()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->
        <h2>{{instructor.name}}</h2>
        <h4><a ng-href="mailto:{{instructor.email}}">{{instructor.email}}</a></h4>
        <span class="badge badge-positive">{{ instructor.interno ? 'Internal' : 'External' }}</span>
        <span class="badge badge-assertive" ng-show="instructor.contractor">Contractor</span>
        <p>
            <strong>Phone:</strong> <a ng-href="tel:{{instructor.phone}}">{{instructor.phone}}</a>
            <br/>
            <strong>Region:</strong> {{instructor.region}}
            <br/>
            <strong>Rate:</strong> {{instructor.rate}}
            <br/>
            <strong>Languages:</strong> {{instructor.languages}}
            <br/>
            <strong>Comments:</strong> <span ng-bind-html="instructor.comments"></span>
            <br/>
        </p>
        <h4>Events for {{instructor.name}}</h4>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <!--
            <ion-item ng-if="events.length === 0">
                Press <i class="icon ion-ios-plus-outline"></i> to add an event
            </ion-item>
        -->
            <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#">
                <!--<img ng-src="{{chat.face}}">-->
                <i class="icon ion-calendar" ng-style="{'color': event.status.color}"></i>
                <h2>{{event.shortName || event.curso}}</h2>
                <p>{{event.location.name}}
                    <br/>
                    <small>{{ event.fechainicio | date:'short' : 'UTC' }} - {{ event.fechafin | date:'short' : 'UTC' }}</small>
                    <span class="badge badge-positive" ng-style="{'background-color': event.status.color}">{{ event.status.name }}</span>
                </p>
                <!--
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-positive" ng-click="shareEvent(event)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="editEvent(event)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
            -->
            </ion-item>
        </ion-list>

        <div ng-if="events !== undefined && !events.length" class="no-results">
            <p>No events assigned</p>
        </div>
    </ion-content>
</ion-view>
