<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{instructor.name}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-close-empty" ng-click="closeInstView()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->
        <h2>{{instructor.name}}</h2>
        <h4><a ng-href="mailto:{{instructor.email}}">{{instructor.email}}</a></h4>
        <span class="badge badge-positive">{{ instructor.interno ? 'Internal' : 'External' }}</span>
        <span class="badge badge-assertive" ng-show="instructor.contractor">Contractor</span>
        <p>
            <strong>Phone:</strong> <a ng-href="tel:{{instructor.phone}}">{{instructor.phone}}</a>
            <br/>
            <strong>Region:</strong> {{instructor.region}}
            <br/>
            <strong>Rate:</strong> {{instructor.rate}}
            <br/>
            <strong>Languages:</strong> {{instructor.languages}}
            <br/>
            <strong>Comments:</strong> <span ng-bind-html="instructor.comments"></span>
            <br/>
        </p>
    </ion-content>
</ion-view>
