<ion-view view-title="More">
    <ion-content>
        <div class="list">

            <a class="item item-icon-left" ng-href="#/tab/instructors">
                <i class="icon ion-person-stalker"></i>
                Instructors
            </a>

            <a class="item item-icon-left" ng-href="#/tab/providers">
                <i class="icon ion-cube"></i>
                Providers
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-mic-a"></i>
                Record album
                <span class="item-note">
                  Grammy
                </span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">0</span>
            </a>

        </div>
    </ion-content>
</ion-view>
